<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

  <route
          id="kikwik_cookie_accept"
          path="_kw_cookie_accept"
          controller="kikwik_cookie.controller.cookie_controller:acceptAll"
          methods="POST"
  />

  <route
          id="kikwik_cookie_deny"
          path="_kw_cookie_deny"
          controller="kikwik_cookie.controller.cookie_controller:denyAll"
          methods="POST"
  />


</routes>