<div class="position-fixed bottom-0 start-0 end-0 p-1 border-top border-3 bg-white">

    Questo sito utilizza cookie tecnici per i quali non è richiesto consenso.


    <div class="float-end">
        <a href="#" class="js-kwc-accept btn btn-sm btn-success">Accetta tutti</a>
        <a href="#" class="js-kwc-deny btn btn-sm btn-danger">Rifiuta tutti</a>
        <a href="#" class="js-kwc-choose btn btn-sm btn-warning">Scegli</a>
        {% if privacy_route %}
            <a href="{{ path(privacy_route) }}" class="btn btn-sm btn-info">Informativa privacy</a>
        {% endif %}
    </div>

</div>