<div class="position-fixed bottom-0 start-0 end-0 p-1 border-top border-3 bg-white">

    Questo sito utilizza cookie tecnici per i quali non è richiesto consenso.


    <div class="float-md-end text-center">
        <a href="{{ path('kikwik_cookie_save') }}" class="js-kwc-btn-accept btn btn-sm btn-success my-1">Accetta</a>
{#        <a href="#" class="js-kwc-btn-deny btn btn-sm btn-danger my-1">Rifiuta</a>#}
{#        <a href="#" class="js-kwc-btn-choose btn btn-sm btn-warning my-1">Scegli</a>#}
        {% if privacy_url %}
            <a href="{{ privacy_url }}" class="js-kwc-btn-privacy btn btn-sm btn-info my-1">Informativa privacy</a>
        {% endif %}
    </div>

</div>